form#cadastro-form{
    background: #dddddd;
    padding: 10px;
    border-radius: 5px;
}

form#cadastro-form #cadastrar-onSec{
    margin-left: 20px;
}

table#professores-table{
    width: 100%;
    margin-top: 20px;
}

table#professores-table td {
    padding: 0px 10px;
}