body{
    font-family: 'Lato', sans-serif;
}

form#cadastro-form{
    background: #dddddd;
    padding: 10px;
    border-radius: 5px;
}

form#cadastro-form #cadastrar-onSec{
    margin-left: 20px;
}

form#cadastro-form #nome-onSec{
    width: 30%;
}

table.scroll-table{
    display: table;
    width: 100%;
    margin-top: 20px;
}

table.scroll-table thead, table.scroll-table tbody{
    float: left;
    width: 100%;
}

table.scroll-table tbody{
    overflow: auto;
    height: 350px;
}

table.scroll-table tr{
    width: 100%;
    display: table;
    text-align: left;
}

table.scroll-table th, table.scroll-table td{
    width: 20%;
}

table.scroll-table td {
    padding: 0px 10px;
}

/* SIDE MENU */
.sidenav{
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 90px;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a{
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover{
    color: #f1f1f1;
}

.sidenav.closebtn{
    position: absolute;
    top: 0;
    left: 150px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}